<div class="archive-outer-container">

<div class="inner-nav">
  <a class="return" href="/my-archives">Return to My Archives</a>
  <a class="delete" href="/my-archives/<%=archiveDetails._id%>/delete">Delete</a>
  <a class="delete" href="/my-archives/<%=archiveDetails._id%>/edit">Edit</a>
</div>

  <div class="archive-container">
      <h3><%=archiveDetails.dateAdded.toDateString()%></h3>

      <h2><%=archiveDetails.title%></h2>
      <br>
      <p><%=archiveDetails.description%></p>
  </div>

</div>
